@model SALClassLib.OS.Model.OrdemServico

@{
    ViewBag.Title = "SAL Motofrete, seu motoboy a um click de distância!";
    Layout = "~/Views/Shared/_Home.cshtml";
}

<div class="row-fluid" id="sal">
    <div class="span2">
            <h1 class="logo">Sal</h1>

        @using (Html.BeginForm("Step2", "OrdemServico", FormMethod.Post, new { @class = "" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Origem</legend>
                <label for="Origem.0.Endereco">Endereço</label>
                <input type="text" id="Origem.0.Endereco" name="Origem[0][Endereco]" placeholder="Vou buscar aqui">

                <label for="Origem.0.Complemento">Complemento</label>
                <input type="text" id="Origem.0.Complemento"  name="Origem[0][Complemento]" placeholder="Andar ? Apartamento ?">
                
                <label for="Origem.0.Contato">Contato</label>
                <input type="text" id="Origem.0.Contato" name="Origem[0][Contato]" placeholder="Vou falar com quem ?">
                            
            </fieldset>
            <fieldset>
                <legend>Destino</legend>

                <label for="Destino.0.Endereco">Endereço</label>
                <input type="text" id="Destino.0.Endereco" name="Destino[0][Endereco]" placeholder="Vou buscar aqui">

                <label for="Destino.0.Complemento">Complemento</label>
                <input type="text" id="Destino.0.Complemento"  name="Destino[0][Complemento]" placeholder="Andar ? Apartamento ?">

                <label for="Destino.0.Contato">Contato</label>
                <input type="text" id="Destino.0.Contato" name="Destino[0][Contato]" placeholder="Vou falar com quem ?">
            </fieldset>

            <div class="form-actions">
                <button type="submit" class="btn btn-danger">Confirmar</button>
            </div>
        }
    </div>
    <div class="span10" id="map-canvas">
        MAPA
    </div>
</div>

@section Scripts
{
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeTKNaa8r6sudbzbDwyj76g605HmJb-FI&amp;sensor=true&amp;libraries=places"></script>

    <script type="text/javascript" src="~/Assets/js/gmaps.js"></script>
}