@font-face {
	font-family: 'Olivier';
	src: url('Assets/fonts/olivier_demo.eot');
	src: local('☺'), url('/Assets/fonts/olivier_demo.woff') format('woff'), url('/Assets/fonts/olivier_demo.ttf') format('truetype'), url('/Assets/fonts/olivier_demo.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.logo,
.navbar .logo {
    font-family: 'Olivier';
    color:#DE0000;
    text-align: center;
}

.navbar .logo {
    font-family: 'Olivier';
    color: #DE0000;
    text-align: center;
    padding: 10px 20px 5px;
    font-size: 2em;
    line-height: 1em;
}

h1 {
    font-weight: normal;
}
.container-fluid {
    height: 100%;
    padding-right: 0px;
}
.navbar + .container-fluid {
    min-height: 100%;
    margin-top: 50px;
    padding-right: 20px;
}
#sal, #map-canvas {
    height: 100%;
}

#map-canvas {
    margin-left: 2.5641% !important;
}

html, body {
    height: 100%;
}

.row-fluid .span2 {
    width: 14%;
    margin: 0.4468085106382975% auto;

}

.form-horizontal .form-actions {
    text-align: center;
    padding-left: 0px;
}