@{
    ViewBag.Title = "Ordens de Serviço Ativas";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<div class="row header">
    <h2>@ViewBag.Title</h2>
</div>

<p>Aqui serão listados todos os pedidos que estiverem com o status diferente de "completo".</p>

