@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Entregador", "Index", "Entregador")</li>
    <li>@Html.ActionLink("Aparelho Móvel", "Index", "AparelhoMovel")</li>
    <li>@Html.ActionLink("Atendente", "Index", "")</li>
</ul>