@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Utopia.cshtml";
    Html.RenderPartial("~/Views/Shared/_FlashPartial.cshtml");
}

<h2>Pedidos Ativos</h2>

<p>Aqui vão aparecer todos os pedidos que estiverem com um status diferente de completo</p>

