@{
    var flash = TempData["Flash"];
}
@if (flash != null)
{
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">×</button>
    @flash 
</div>
}

@{
    var em = TempData["ErrorMessage"];
}
@if (em != null)
{
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    @em
</div>
}
@{
    var st = TempData["ErrorStackTrace"];
}
@if (st != null)
{
<div class="alert alert-error">
    <button type="button" class="close" data-dismiss="alert">×</button>
    @st
</div>
}
